* {
    padding: 0px;
    font-family: "Gotham-Medium";
    margin:0px;
    font-size:16px;
}
ul{
    list-style-type: none;

}
a{
    text-decoration: none;
}
.container{
    max-width: 1280px;
    margin:auto;
}
header>.container{
    display: flex;
    justify-content: space-between;
    

}
#header-menu ul {
    display:flex;
}
#header-menu ul li {
    padding:1rem;
  
}
#header-menu ul li a {
    color:black;
    text-transform: uppercase;
    position:relative

}
#header-menu a::after {

    content: "";
    position:absolute;
    width:70%;
    height: 5px;
    background-color: rgb(214,144,13);
    top: calc(100% + 2px);
    left: 0;
    display:none;
}
#header-menu ul li:hover a::after{
    display:block;


}
.hero-image img {
    width: 80%;        
    height: auto;      
    display: block;     
    margin: 30px auto;  
    border-radius: 8px; 
}
.footer {
    background-color: #2c2c2c;
    color: #fff;
    padding: 40px 0;
    font-family: Arial, sans-serif;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
  }
  
  .footer-column {
    flex: 1;
    margin: 20px;
    min-width: 250px;
  }
  
  .footer-column h4 {
    font-size: 14px;
    color: #bfbfbf;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .footer-column p, .footer-column strong {
    margin: 5px 0;
  }
  
  .social-icons img {
    width: 24px;
    margin-right: 10px;
    vertical-align: middle;
  }
  
  .certification-badge {
    margin-top: 15px;
    width: 100px;
  }
  
